<%- include('partials/header') %>

<div class="container">
  <div class="jumbotron centered">
    <i class="fas fa-key fa-6x"></i>
    
    <%if(!user.secrets.length){%>
    <p class="user-secret">Don't keep your secrets, share them anonymously!</p>
       <% }else{%>
    <p class="user-secret">Secrets You Haved Shared</p>
  
  <%user.secrets.forEach( function(secret){%>
 <p class="secret-text"><%=secret.secret%></p>
 
 <form action="/edit" method="POST">
<button type="submit">Edit</button>
    <input type="hidden" name="passedVal" value="<%=secret.secret%>">
  <input type="hidden" name="hisId" value="<%=user._id%>">
        <input type="hidden" name="del" value="<%=secret._id%>">
    
      
      </form>
 
      <form action="/delete" method="POST">
<button type="submit">Delete</button>
    
  <input type="hidden" name="hisId" value="<%=user._id%>">
        <input type="hidden" name="del" value="<%=secret._id%>">
 
      </form>
      <% })%>
  <% }%>
    

    <p class="submit-title">Submit A Secret!</p>


    <form action="/submit" method="POST">

      <div class="form-group">
        <input type="text" class="form-control text-center" name="secret" placeholder="What's your secret?" value=<%=toEdit%>>
        
      </div>
      <button type="submit" class="btn btn-dark">Submit</button>
    </form>
    
     <div class="logout-back">
   <a class="btn btn-light btn-lg logout" href="/logout" role="button">Log Out</a>
   <a class="btn btn-light btn-lg back" href="/secrets" role="button">Back</a>
    </div>
  </div>
</div>
<%- include('partials/footer') %>
